<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        fcc-stockmarket-app
      </h1>
      <h2 class="subtitle">
        <p>
          <a href="https://www.freecodecamp.org/challenges/chart-the-stock-market" target="_blank">
            freeCodeCamp - Chart the Stock Market
          </a>
        </p>
        <p>by <a href="https://github.com/amimaro" target="_blank">Amimaro</a></p>
      </h2>
    </div>
  </div>
</section>

<div class="container" style="padding: 10px">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>fcc-stockmarket-app</strong>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </div>
</footer>
