<div class="box">
  <p>Interval</p>
  <a class="button" (click)="setInterval('m1')">1m</a>
  <a class="button" (click)="setInterval('m5')">5m</a>
  <a class="button" (click)="setInterval('m15')">15m</a>
  <a class="button" (click)="setInterval('m30')">30m</a>
  <a class="button" (click)="setInterval('h1')">1h</a>
  <a class="button" (click)="setInterval('d1')">1d</a>
  <a class="button" (click)="setInterval('w1')">1w</a>
  <a class="button" (click)="setInterval('mn')">mn</a>
  <div class="pull-right" *ngIf="begin.length > 0 && end.length > 0">
    From {{begin}} to {{end}}
  </div>
</div>

<div class="box">
  <p>{{info}}</p>
  <canvas id="canvas">{{ chart }}</canvas>
</div>

<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <div class="field has-addons">
          <div class="control" style="width: 100%">
            <input type="text" class="input is-info is-medium" style="text-transform:uppercase" [(ngModel)]="inputSymbol" (keyup.enter)="addSymbol()" placeholder="Input Stock Symbol">
          </div>
          <div class="control">
            <a class="button is-success is-medium" (click)="addSymbol()">Add</a>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>

<h3 class="subtitle" *ngIf="appService.symbols.length > 0">Symbols Added</h3>
<div class="columns is-multiline is-mobile has-text-centered">
  <div class="column is-one-quarter" *ngFor="let symbol of appService.symbols; let i = index">
    <div class="box">
      <span>{{symbol}}</span>
      <span class="icon" (click)="removeSymbol(i)"><i class="fa fa-times"></i></span>
    </div>
  </div>
</div>
